In [5]:
import pandas as pd
dataku=pd.read_csv("dataku.csv",names=["Tanggal","Nilai_Penjualan"])
print(dataku)
dataku.describe()

       Tanggal  Nilai_Penjualan
0   2-Nov-2021          5500000
1   3-Nov-2021          7000000
2   4-Nov-2021         10100000
3   5-Nov-2021          6500000
4   6-Nov-2021          8000000
5   7-Nov-2021          9000000
6   8-Nov-2021          5050000
7   9-Nov-2021          8000000
8  10-Nov-2021          7500000
9  11-Nov-2021          8500000

       Nilai_Penjualan
count     1.000000e+01
mean      7.515000e+06
std       1.554929e+06
min       5.050000e+06
25%       6.625000e+06
50%       7.750000e+06
75%       8.375000e+06
max       1.010000e+07

In [10]:
print(dataku.loc[1:6])

      Tanggal  Nilai_Penjualan
1  3-Nov-2021          7000000
2  4-Nov-2021         10100000
3  5-Nov-2021          6500000
4  6-Nov-2021          8000000
5  7-Nov-2021          9000000
6  8-Nov-2021          5050000